<%= page_header do %>
  <h1>Sign Up For Pingme</h1>
<% end %>

<div class="row">
  <div class="span6">
    <h2>Your Information</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-vertical' }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :first_name, input_html: { class: 'input-xlarge' } %>
      <%= f.input :last_name, input_html: { class: 'input-xlarge' } %>
      <%= f.input :profile_name, input_html: { class: 'input-xlarge' } %>
      <%= f.input :email, input_html: { class: 'input-xlarge' } %>
      <%= f.input :password, input_html: { class: 'input-xlarge', autocomplete: 'off' } %>
      <%= f.input :password_confirmation, input_html: { class: 'input-xlarge', autocomplete: 'off' } %>
      <div class="form-actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %><br />
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <h2>Why Sign Up?</h2>
    <p>
      <strong>Now you can Ping from anywhere around the world.</strong>
       </p>

      <p><%= image_tag "http://socialportal.ballywhointeractive.com/images/uploads/social%20network(1).jpg", class: 'pull-right' %>
        
      </p>
  </div>
</div>