<br />
<div class="row">
	<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well form-vertical well-small"}) do |f| %>

		<fieldset>
			<legend>Sign In</legend>
			<%= f.input :email %>
			<%= f.input :password %>

	  	<% if devise_mapping.rememberable? -%>
	    	<%= f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false %>
	  	<% end -%>

	  	<%= f.button :submit, "Sign In", class: 'btn btn-primary btn-block' %>
		</fieldset>
	<% end %>

	</div>

	<div class="span8">
		<h2>Don't Have An Account? Sign Up!</h2>
		<h3>Why Sign Up? <strong> Now you can Ping from anywhere around the world.</strong></h3>
		<p>
			<%= image_tag "http://3.bp.blogspot.com/-P6aHUKaudyM/UJpAhQKuEEI/AAAAAAAARLo/dzQsMZnj6sw/s640/Social+Network.jpg", class: 'pull-right' %>
			
		</p>
		<%= render "devise/shared/links" %>
	</div>
</div>